{% extends 'layout/__base.html' %}
{% load math %}
{% block body %}
    <div class="wrapper">
        {% include 'component/_sidebar.html' %}
        <div class="main-panel">
            {% include 'component/_navbar.html' %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">Add Material</div>
                                <div class="content">
                                    <form method="post" action="{% url 'material-create' %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="control-label">Name<star>*</star></label>
                                            <input required type="text" placeholder="Enter Material Name" class="form-control" name="name">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Type<star>*</star></label>
                                            <select required data-title="Select Type" name="type" class="selectpicker" data-style="btn-block">
                                                <option value="roll">Roll</option>
                                                <option value="kg">Kg</option>
                                            </select>
                                        </div>
                                        <div class="text-right">
                                            <button type="submit" name="_save" class="btn btn-fill btn-success">Save</button>
                                            <button type="submit" name="_save_and_add" class="btn btn-fill btn-info">Save and Add Another</button>
                                        </div>
                                    </form>
                                </div>
                            </div> <!-- end card -->
                        </div>
                    </div>
                </div>
            </div>
        {% include 'component/_footer.html' %}
    </div>
</div>
{% endblock %}
