{% extends 'layout/__base.html' %}
{% load math %}

{% block body %}
    <div class="wrapper">
        {% include 'component/_sidebar.html' %}
        <div class="main-panel">
            {% include 'component/_navbar.html' %}
                <div class="content">
                    <div class="container-fluid">
                        <form method="get" class="row" action="{% url 'job-summary' %}">
                            <div class="form-group col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control datepicker" name='start_date' placeholder="Start Date"/>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control datepicker" name='end_date' placeholder="End Date"/>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <select data-title="Select Client" name="client_id" class="selectpicker" data-style="btn-block">
                                    {% for i in clients %}
                                        <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill btn-success">Filter</button>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-12">
{#                                <h4 class="title text-center">Page Subcategories</h4>#}
                                <br />
                                <div class="nav-container">
                                    <ul class="nav nav-icons" role="tablist">
                                        <li class="active">
                                            <a href="#jobstatus-chart" role="tab" data-toggle="tab">
                                                <i class="fa fa-bar-chart"></i><br>
                                                Job Status Chart
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#jobstatus-list" role="tab" data-toggle="tab">
                                                <i class="fa fa-list"></i><br>
                                                Job Status List
                                            </a>
                                          </li>
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane" id="jobstatus-list">
                                        <div class="col-md-12">

                                            <div class="card">
                                                <div class="content">
    {#                                                <div class="header">#}
    {#                                                    <h4 class="title">Pending Bills For All Clients List View</h4>#}
    {#                                                    <p class="category"></p>#}
    {#                                                </div>#}
                                                    <div class="toolbar">
                                                    </div>
                                                    <div class="fresh-datatables">
                                                        <table id="datatables_jobstatus" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>SL</th>
                                                                    <th>Client</th>
                                                                    <th>Total In Production</th>
                                                                    <th>Total Produced</th>
                                                                    <th>Total Shipped</th>
                                                                </tr>
                                                            </thead>
                                                            <tfoot>
                                                                <tr>
                                                                    <th>SL</th>
                                                                    <th>Client</th>
                                                                    <th>Total In Production</th>
                                                                    <th>Total Produced</th>
                                                                    <th>Total Shipped</th>
                                                                </tr>
                                                            </tfoot>
                                                            <tbody>
                                                                {% for i in jobs %}
                                                                <tr>
                                                                    <td>{{ forloop.counter }}</td>
                                                                    <td>{{ i.client__name }}</td>
                                                                    <td>
                                                                        {% if i.total_in_production == False %}
                                                                            {{ 0 }}
                                                                        {% elif i.total_in_production == True %}
                                                                            {{ 1 }}
                                                                        {% else %}
                                                                            {{ i.total_in_production }}
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% if i.total_produced == False %}
                                                                            {{ 0 }}
                                                                        {% elif i.total_produced == True %}
                                                                            {{ 1 }}
                                                                        {% else %}
                                                                            {{ i.total_produced }}
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% if i.total_shipped == False %}
                                                                            {{ 0 }}
                                                                        {% elif i.total_shipped == True %}
                                                                            {{ 1 }}
                                                                        {% else %}
                                                                            {{ i.total_shipped }}
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane active" id="jobstatus-chart">
                                        <div class="col-md-12">
                                            <div class="card ">
                                                <div class="header">
                                                    <h4 class="title">Job Status Chat</h4>
                                                </div>
                                                <div class="content">
                                                    <div id="chartBills" class="ct-chart"></div>
                                                </div>
                                                <div class="footer">
                                                    <div class="legend">
                                                        <i class="fa fa-circle text-info"></i> Total In Production
                                                        <i class="fa fa-circle text-danger"></i> Total Produced
                                                        <i class="fa fa-circle text-warning"></i> Total Shipped
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end tab content -->

                            </div> <!-- end col-md-8 -->

                        </div> <!-- end row -->
                    </div>
                </div>

            {% include 'component/_footer.html' %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            new Chartist.Bar('#chartBills', {
                labels: [{% for i in jobs %}'{{ i.client__name }}' , {% endfor %} ],
                series: [
                    [{% for i in jobs %}
                        {% if i.total_in_production == False %}
                            {{ 0 }} ,
                        {% elif i.total_in_production == True %}
                            {{ 1 }},
                        {% else %}
                            {{ i.total_in_production }} ,
                        {% endif %}
                    {% endfor %}],

                    [{% for i in jobs %}
                        {% if i.total_produced == False %}
                            {{ 0 }} ,
                        {% elif i.total_produced == True %}
                            {{ 1 }},
                        {% else %}
                            {{ i.total_produced }} ,
                        {% endif %}
                    {% endfor %}],

                    [{% for i in jobs %}
                        {% if i.total_shipped == False %}
                            {{ 0 }} ,
                        {% elif i.total_shipped == True %}
                            {{ 1 }},
                        {% else %}
                            {{ i.total_shipped }} ,
                        {% endif %}
                    {% endfor %}],

                ]
            },
            {
                seriesBarDistance: 0,
                axisX: {
                    offset: 60
                },
                height: "350px",
                axisY: {
                    offset: 80,
                    labelInterpolationFnc: function(value) {
                        return value + ''
                    },
                    scaleMinSpace: 15
                }
            });
        });
    </script>
{% endblock %}