{% extends 'layout/__base.html' %}
{% block body %}
    <div class="wrapper">
        {% include 'component/_sidebar.html' %}
        <div class="main-panel">
            {% include 'component/_navbar.html' %}
            <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                <div class="content">
                                    <div class="toolbar">
                                        </div>
                                        <div class="fresh-datatables">
                                            <table id="datatables_product_history" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>SL</th>
                                                        <th>Job Name</th>
                                                        <th>Client</th>
                                                        <th>Order Quantity</th>
                                                        <th>Production Quantity</th>
                                                        <th>Order Created</th>
                                                        <th>Type</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>SL</th>
                                                        <th>Job Name</th>
                                                        <th>Client</th>
                                                        <th>Order Quantity</th>
                                                        <th>Production Quantity</th>
                                                        <th>Order Created</th>
                                                        <th>Type</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    {% for i in production_exchange %}
                                                        <tr>
                                                            <td>{{ forloop.counter }}</td>
                                                            <td>{{ i.order.name }}</td>
                                                            <td>{{ i.order.client }}</td>
                                                            <td>{{ i.order.amount }}</td>
                                                            <td>{{ i.order.production_amount }}</td>
                                                            <td>{{ i.order.created }}</td>
                                                            <td>{{ i.exchange_type }}</td>
                                                            <td>{{ i.exchange_date }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% include 'component/_footer.html' %}
        </div>
    </div>
{% endblock %}